<html>
<head>
    <!-- https://www.w3schools.com/bootstrap/bootstrap_get_started.asp -->
    <title>Scrabble</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="SLcss.css">
</head>

<body>
  
    <div class="container">
            <h1 class="text-center">Scrabble Word Helper</h1>

        <div class="panel panel-default col-md-12">
            <div class="panel-body">
                <div class="col-lg-12">
                    <form action="http://localhost:5000/results" method="POST">
                        <fieldset>
                            <div class="row form-inline-block">
                                <div class="row container form-group">
                                    <label for="letter">Letters:</label>
                                    <input type="text" name="letter1" id="" class="inline-block" placeholder="letter">
                                    <input type="text" name="letter2" id="" class="inline-block" placeholder="letter">
                                    <input type="text" name="letter3" id="" class="inline-block" placeholder="letter">
                                    <input type="text" name="letter4" id="" class="inline-block" placeholder="letter">
                                    <input type="text" name="letter5" id="" class="inline-block" placeholder="letter">
                                    <input type="text" name="letter6" id="" class="inline-block" placeholder="letter">
                                    <input type="text" name="letter7" id="" class="inline-block" placeholder="letter">
                                </div>
                                <div class="row container form-group">
                                    <input type="checkbox" name='attach'/>Attach to existing
                                    <input class="" type="text" name='existing_letters' placeholder="Existing Letter(s)" />
                                </div>
                                <div class="form-group">
                                    <label for="language_dictionary">Dictionary</label>
                                    <select name="language_dictionary" id="" class="form-control">
                                        <option value="american_dictionary">American</option>
                                        <option value="british_dictionary">British</option>
                                    </select>
                                    <br />
                                    <button type="submit" class="btn btn-primary btn-lg dropdown-toggle" id=''>Help Me!</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
        
            </div>

        </div>
    </div>
    <div class="row container-fluid">

       
            {% block content %}
    
            {% endblock %}
        </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>


</html>